<!--
  Generated template for the ChamadaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color='blueNice'>
        <ion-title>Chamada</ion-title>
      </ion-navbar>

</ion-header>


<ion-content #ioncontent>
<div class='turmaTitle'>
    <div  class='photo' >
        <img [src]='photo(profPhoto)' />
      </div>
  Professor: <span class='info'>{{aula.nomeProfessor == undefined ? '' : aula.nomeProfessor }}</span><br>
  Curso: <span class='info'>{{aula.curso == undefined ? '' : aula.curso }}</span><br>
  Filial: <span class='info'>{{aula.filial == undefined ? '' : aula.filial }}</span><br>
  Dia: <span class='info'> {{aula.data == undefined ? '' : aula.data | date: "dd/MM/yyyy" }}</span><br>
  Horário: <span class='info'>{{aula.horario == undefined ? '' : aula.horario }}</span><br>
  Estado: <span class='info' id='status'>{{aula.situacao == undefined ? '' : aula.situacao}}</span><br>
  Preenchimento: <span class='info'>{{aula.dataHora == undefined ? '' : aula.dataHora | date : "dd/MM/yyyy HH/mm/ss"}}</span><br>
  Substituto: <span class='info'>{{aula.nomeProfessorSubstituto == undefined ? '' : aula.nomeProfessorSubstituto}}</span><br>
</div>
<div (click)='activeHelp(ioncontent._scrollContent.nativeElement)' class='help'>
    <ion-icon class='icon' name="help-circle"></ion-icon>
</div>
<div *ngIf='loading' class="lds-ring"><div></div><div></div><div></div><div></div></div>
<div class='alunos' ion-grid>
  <div class='alunosGrid'>
  <div class='rowTitleDiv' ion-row>
    <span class='rowTitle' ion-col col-2>Foto</span>
    <span class='rowTitle' ion-col col-3>Matricula</span>
    <span class='rowTitle' ion-col col-3>Nome</span>
    <span class='rowTitle' ion-col col-4>Chamada</span>
  </div>
 
      <div *ngFor='let a of chamada' class='aluno' ion-row>
          <div ion-col col-2 class='alunoInfo'>
            <!-- [style.background-image]='photo(a.foto)' -->
            <div  class='photo' >
              <img [src]='getPhotoUrl(a.foto)' />
            </div>
          </div>
          <div class='alunoInfo matricula' ion-col col-3> <span class='alunoInfoText'>{{a.matricula}}</span></div>
          <div class='alunoInfo' ion-col col-3> <span class='alunoInfoText'>{{a.alunoNome}}</span></div>
          <div class='alunoInfo' ion-col col-4> 
            <div ion-row radio-group [disabled]='radioDisabled' class='radioRow'  (ionChange)="setarChamada($event,a.matricula)" [(ngModel)]="alunosChamada != undefined ? alunosChamada[a.matricula].chamada : waiter " >
              <div ion-col ion-col-4>
                <span class='radioText present'>P</span><br>
                <ion-radio value='PRESENCA'></ion-radio>
              </div>
              <div ion-col ion-col-4>
                  <span class='radioText abscent'>A</span><br>
                <ion-radio value='FALTA'></ion-radio>
              </div>
              <div ion-col ion-col-4>
                  <span class='radioText late'>L</span><br>
                <ion-radio value='ATRASO'></ion-radio>
              </div>
            </div>
            
          </div>
        </div>
 
  
</div>
</div>
<button [disabled]='radioDisabled' (touchstart)='realizarChamadaButtonClickActivate()' (touchend)='realizarChamadaButtonClickDeactivate()' (click)='realizarChamada()' class='realizarChamadaButton'> 
  <div class='realizarChamadaButtonInner'>
      <span class='realizarChamadaText'>
          Realizar chamada
      </span>
  </div>
  <div *ngIf='realizarChamadaButtonClick' class='realizarChamadaButtonEffect'>
      
  </div>
</button>


</ion-content>
<div *ngIf='helpActive' (click)='deactiveHelp(ioncontent._scrollContent.nativeElement)' class='overlayHelp'>
   
    <div (click)='deactiveHelp(ioncontent._scrollContent.nativeElement)' class='closeButton'>
        <ion-icon name="close-circle"></ion-icon>
    </div>
    <div class='calendarHelp'>
        <div class='titleHelp'>
            <span class='titleHelpText'>Legenda</span>
          </div>
        <span class='legendaInfo'><span class='present'>P</span> = <span class='present'>Present</span></span><br>
        <span class='legendaInfo'><span class='abscent'>A</span> = <span class='abscent'>Abscent</span></span><br>
        <span class='legendaInfo'><span class='late'>L</span> = <span class='late'>Late</span></span><br>
    </div>
    
  </div> 