page-feed {
   
    
    .scroll-content{
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        background-color:white;
        padding:0px;
        margin:0px;
    }
    
    .scroll-content::-webkit-scrollbar {
        background-color: white;
        width:5px;
    }
    .scroll-content::-webkit-scrollbar-thumb{
        // background: rgba(0, 0, 0, 0.418);
        background: inherit;
        //border-radius: 10px;
    }   

        .cardHeader{
            background-color: rgb(91, 75, 177);
            box-shadow: 0px 1px 3px black;
            color:rgb(255, 255, 255);
            word-wrap: break-word;
            border: solid rgba(0, 0, 0, 0.11) 1px;
            

        }
        .cardContent{
            margin-top:10px;
            position:relative;
            .conteudo{
                position:relative;
                background-color:white;
                z-index: 90 !important;
                .downloadIconDiv{
                    bottom:0;
                    right: 0;
                    margin-right:10px;
                    margin-bottom:10px;
                    z-index: 100 !important;
                    position:absolute;
                    width:40px;
                    height:36px;
                    background-color:rgba(255, 255, 255, 0.527);
                    font-size:30px;
                    text-align:center;
                    border-radius:3px;
                    border: 1px solid rgba(0, 0, 0, 0.322);
                    .downloadIcon{
                        display:block;
                        margin: 0 auto;
                    }
                }
            }
            
            .dropdown{
                position:relative;
                display:block;
                width:100%;
                height:50px;
                background-color:white;
                animation:dropdownEffect 0.35s ease-out;
            }
            .dropdown.reverse{
                height:0px;
                animation:dropdownEffectReverse 0.35s ease-out;
            }
            .buttonDiv{
                position:absolute;
                bottom:0;
                display:block;
                margin:0 auto;
                width:150px;
                height:40px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                .baixarImagem{
                    width:100%;
                    height:100%;
                    border-radius:12px;
                    color:white;
                    background-color:rgb(63, 63, 190);
                    text-align:center;
                }
                .buttonEffect{
                    position:absolute;
                    top:0;
                    bottom:0;
                    width:100%;
                    height:100%;
                    border-radius:12px;
                    background-color:transparent;
                    animation: baixarImagemEffect 0.5s;
                }
                .buttonEffect.pressing{
                    background-color:rgba(235, 235, 235, 0.527); 
                    animation: baixarImagemEffectPressing 0.5s;
                }
                @keyframes baixarImagemEffect{
                    from{
                        background-color:rgb(235, 235, 235); 
                    }
                    to{
                        background-color:transparent; 
                    }
                }
                @keyframes baixarImagemEffect{
                    from{
                        background-color:rgb(235, 235, 235); 
                    }
                    to{
                        background-color:rgba(235, 235, 235, 0.527); 
                    }
                }
                @keyframes dropdownEffect{
                    from{
                        height:0px;
                    }
                    to{
                        height:50px;
                    }
                }
                @keyframes dropdownEffectReverse{
                    from{
                        height:50px;
                    }
                    to{
                        height:0px;
                    }
                }
            
            }
            
        }
        .chamadaIcon{
            width:50px;
            display:inline-block;
            border-radius:100%;
            border-color:black;
            border:solid 0.8px;
            margin-right:10px;
           
        }
        .chamadaTitle{
            font-size:17.5px;
            font-weight: 450;
            display:block;
        }
        .chamadaSubtitle{
            font-size:12px;
            display:block;
            word-wrap: break-word;
    
        }
        .chamadaContentTitle{
            font-weight: bold;
        }
        .noConnectionMessage{
            margin-top:10px;
            font-size:10px;
            color:rgba(0, 0, 0, 0.616);            
            text-align: center;
        }
        .noConnectionMessage.top{
            position:absolute;
            background: white;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    
    
    
}
