page-feed {

  


        .chamadaIcon{
            width:50px;
            display:inline-block;
            border-radius:100%;
            border-color:black;
            border:solid 0.8px;
            margin-right:10px;
           
        }
        .chamadaTitle{
            font-size:17.5px;
            font-weight: 450;
            display:inline-block;
        }
        .chamadaSubtitle{
            font-size:12px;
    
    
        }
        .chamadaContentTitle{
            font-weight: bold;
        }
    
    
    
}
