<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar  color='danger' >
      <ion-row>
    <div style='padding:10px;font-size:20px;'>
      <ion-icon name="menu" menuToggle></ion-icon>
    </div>
      <ion-title>{{ 'feed_titulo' | translate}}</ion-title>
  </ion-row>
  </ion-navbar>

</ion-header>


<ion-content (ionScrollStart)='scrollActive(ioncontent._scrollContent.nativeElement)'   (ionScrollEnd)='scrollInactive(ioncontent._scrollContent.nativeElement)' #ioncontent>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="sync"
        pullingText="Recarregar"
        refreshingSpinner="crescent">
      </ion-refresher-content>
    </ion-refresher>
    
  <div class='allContent'>
      
    <div *ngIf='noConnectionTop' class='noConnectionMessage top'>
        {{ 'semconexao' | translate}}
    </div>
    
    <ion-card *ngFor= "let c of chamadas">
      <ion-card-header class='cardHeader' >
          <img [src]='c.icone' class="chamadaIcon" />
        <div style='display:inline-block; '>
        <span class='chamadaTitle'>{{c.titulo}}</span>
        <span class='chamadaSubtitle'>{{c.dataHora | date:'dd/MM/yy' }}</span>
        <span [innerHTML]='c.descricao' class='chamadaSubtitle'></span>
      </div>
      </ion-card-header>
      <ion-card-content  class='cardContent'>
        <div class='conteudo'>
            <div  [innerHTML]='c.conteudo'>

            </div>
            <div *ngIf='c.baixar!=null' (click)='baixarIconOnClick(c.baixar);' class='downloadIconDiv'>
                <ion-icon class='downloadIcon' name='download'></ion-icon>
            </div>
        </div>
        <div *ngIf='baixarIconClicked && c.baixar!=null' class='dropdown' [id]='c.baixar'>
        <div class='buttonDiv' >
          <button (touchstart)='downloadEffect("touchstart");' (touchend)='downloadEffect("touchend");' (click)='downloadEffect("cliked");baixarImagem(c.baixar,c.dataHora)' class='baixarImagem' >{{'feed_salvar' | translate}}</button><div *ngIf='downloadClicked' class='buttonEffect' id='buttonEffect'></div>
        </div>

        </div>
      </ion-card-content>
    </ion-card>
  
    <div *ngIf='noConnectionBot' class='noConnectionMessage'>
        {{ 'semconexao' | translate}}
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Carregando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> 
</ion-content>
