// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-content{
    text-align: left;
}
.allContent{
    padding:10px;
    align-items: center;        
    background-color:white;
    background-size:100% auto;
    height:inherit;
    margin:0px;
} 

.scrolling{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    background: rgba(0, 0, 0, 0.479) !important;  
    
}
.inactive{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    background: white !important;
    animation:inactivateScroll 0.23s !important;     
    
}
@keyframes activateScroll{
    from{background-color:black;}
    to{background: rgba(0, 0, 0, 0.418);}
}
@keyframes inactivateScroll{
    from{background: rgba(0, 0, 0, 0.418);}
    to{background-color:white;}
}

.avatar{
width:95px;
height:95px;
border-radius: 100%;
border:solid rgba(0, 0, 0, 0.596) 1px;
margin-left:15px;
margin-bottom:10px;
background-size:100%;
background-repeat: no-repeat;
background-position: center;

}
.content{
font-size:20px;

}
.perfil{
    margin:0 auto;
    border:none;
    box-shadow: none;
    width:100%;
    height:100%;
    color:white;
}


.menu{
    background-position: top bottom;
    background-size:cover;
    background-repeat:no-repeat;
    
}


.menuDivAvatar{
   background-color: rgba(0,0,0,0.5);
   padding-bottom:10px;
   padding-left:9px;
   padding-right:9px;
   padding-top:10px;
   
   
}

@media screen and (max-aspect-ratio: 13/9){
    .logoutButton{
        background-color:transparent;
        position:fixed;
        bottom:0;
        text-align: left;
        color:black;
        padding:15px;
        font-size:15px;
        width: 100%;


    }
    .logoutButton:hover{
        transition-duration: 0.13s;
        background-color:rgba(0, 0, 0, 0.070);
    }

    .menuDivAvatar{
        line-height: 15px;
        
        p{
            color:rgb(241, 220, 220);

        }
        .avatarName{
            font-size:16px;
            color:rgb(241, 220, 220);
            text-decoration: none;
            margin-left:13px;

        }
        ion-icon{
            position:relative;
            z-index:99;
            left:92%;
            font-size:23px; 
        }
        ion-icon:active{
            color: rgba(255,255,255,0.5);
            
        }
        .avatarDesc{   
            margin-top:10px;
            line-break: auto;
            margin-left:15px;
            max-width:80%;
        }
        .popover[scrolly=true] {
        
            overflow-y: scroll;
        
            
            
        }
        
        .popover::-webkit-scrollbar {
            background-color: transparent;
            width:4px;
        }
        .popover::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.493);
            border-radius: 10px;
        }
        
        .popover{
            max-height:90%;
            position: absolute;
            margin:0;
            background: transparent;
            padding-top:2px;
            padding-right:17px;
            width:90%;            
            float:right;
            z-index: 999;        
            ion-list{
                border-radius:5px;
                    background-color:rgba(0, 0, 0, 0.550);
                ion-item{
                    color:white;
                    
                    background-color:rgba(0, 0, 0, 0.550) !important;
                    

                }
                ion-item.item:hover{
                    color:black !important;
                    
                    background-color:rgba(255, 255, 255, 0.897) !important;
                    

                }
                
                
            }
                
            
        }
        // .subDiv{
        //     .avatarDesc{
        //         display:inline-block;
        //     }
        //     .swap{
        //         display:inline-block;
        //     }
        // }
    }
}
@media screen and (min-aspect-ratio: 13/9){
    .logoutButton{
        background-color:transparent;
        position:relative;
        bottom:0;
        text-align: left;
        color:black;
        padding:15px;
        font-size:15px;
        width: 100%;


    }
    .logoutButton:hover{
        transition-duration: 0.13s;
        background-color:rgba(0, 0, 0, 0.070);
    }
    .menuDivAvatar{
        line-height: 15px;
        
        p{
            color:rgb(241, 220, 220);
    
        }
        .avatarName{
            font-size:16px;
            color:rgb(241, 220, 220);
            text-decoration: none;
            margin-left: 13px;
    
        }
        ion-icon{display:block;position:relative;bottom:100%;left:92%;font-size:23px; }
        ion-icon:active{
            color: rgba(255,255,255,0.5);
            
        }
        .avatarDesc{
            word-wrap: break-word;
            margin-left: 15px;
        }
        
        
    
    .popover::-webkit-scrollbar {
        background-color: transparent;
        width:4px;
    }
    .popover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.493);
        border-radius: 10px;
    }
      
    .popover[scrolly=true] {
        overflow-y: scroll;
    }
        
        
    .popover{
        max-height:70%;
        position: absolute;
        margin:0;
        padding-top:2px;
        padding-right:17px;
       width:90%;
        background:transparent;
        float:right;
        z-index: 999;        
        ion-list{
            border-radius:5px;
                background-color:rgba(0, 0, 0, 0.550);
            ion-item{
                color:white;
                
                background-color:rgba(0, 0, 0, 0.550) !important;
                

                }
            ion-item.item:hover{
                color:black !important;
                
                background-color:rgba(255, 255, 255, 0.897) !important;
                

                }
            
            
            }
            
        
        }
    }
    .alert-wrapper {
        height: 280px;
        }
        [ng-reflect-ng-switch] {
        overflow: scroll;
        }
        .alert-radio-group{
            overflow-y:scroll !important;
        }
        
        .alert-radio-group::-webkit-scrollbar {
            background-color: transparent;
            width:4px;
        }
        .alert-radio-group::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.418);
            border-radius: 10px;
        }   
}


.loading{
    position:absolute;
    height:100%;
    width:100%;
    z-index:999;
    background-color: white;
    
    display: flex;
    align-items: center;
    .cssload-box-loading {
        width: 49px;
        height: 49px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .cssload-box-loading:before {
        content: '';
        width: 49px;
        height: 5px;
        background: rgb(0,0,0);
        opacity: 0.1;
        position: absolute;
        top: 58px;
        left: 0;
        border-radius: 50%;
        animation: shadow 0.5s linear infinite;
            -o-animation: shadow 0.5s linear infinite;
            -ms-animation: shadow 0.5s linear infinite;
            -webkit-animation: shadow 0.5s linear infinite;
            -moz-animation: shadow 0.5s linear infinite;
    }
    .cssload-box-loading:after {
        content: '';
        width: 49px;
        height: 49px;
        background: rgb(250,65,96);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        animation: cssload-animate 0.5s linear infinite;
            -o-animation: cssload-animate 0.5s linear infinite;
            -ms-animation: cssload-animate 0.5s linear infinite;
            -webkit-animation: cssload-animate 0.5s linear infinite;
            -moz-animation: cssload-animate 0.5s linear infinite;
    }
    
    
    
    @keyframes cssload-animate {
        17% {
            border-bottom-right-radius: 3px;
        }
        25% {
            transform: translateY(9px) rotate(22.5deg);
        }
        50% {
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            border-bottom-right-radius: 39px;
        }
        75% {
            transform: translateY(9px) rotate(67.5deg);
        }
        100% {
            transform: translateY(0) rotate(90deg);
        }
    }
    
    @-o-keyframes cssload-animate {
        17% {
            border-bottom-right-radius: 3px;
        }
        25% {
            -o-transform: translateY(9px) rotate(22.5deg);
        }
        50% {
            -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            border-bottom-right-radius: 39px;
        }
        75% {
            -o-transform: translateY(9px) rotate(67.5deg);
        }
        100% {
            -o-transform: translateY(0) rotate(90deg);
        }
    }
    
    @-ms-keyframes cssload-animate {
        17% {
            border-bottom-right-radius: 3px;
        }
        25% {
            -ms-transform: translateY(9px) rotate(22.5deg);
        }
        50% {
            -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            border-bottom-right-radius: 39px;
        }
        75% {
            -ms-transform: translateY(9px) rotate(67.5deg);
        }
        100% {
            -ms-transform: translateY(0) rotate(90deg);
        }
    }
    
    @-webkit-keyframes cssload-animate {
        17% {
            border-bottom-right-radius: 3px;
        }
        25% {
            -webkit-transform: translateY(9px) rotate(22.5deg);
        }
        50% {
            -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            border-bottom-right-radius: 39px;
        }
        75% {
            -webkit-transform: translateY(9px) rotate(67.5deg);
        }
        100% {
            -webkit-transform: translateY(0) rotate(90deg);
        }
    }
    
    @-moz-keyframes cssload-animate {
        17% {
            border-bottom-right-radius: 3px;
        }
        25% {
            -moz-transform: translateY(9px) rotate(22.5deg);
        }
        50% {
            -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            border-bottom-right-radius: 39px;
        }
        75% {
            -moz-transform: translateY(9px) rotate(67.5deg);
        }
        100% {
            -moz-transform: translateY(0) rotate(90deg);
        }
    }
    
    @keyframes shadow {
        0%,
        100% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1.2, 1);
        }
    }
    
    @-o-keyframes shadow {
        0%,
        100% {
            -o-transform: scale(1, 1);
        }
        50% {
            -o-transform: scale(1.2, 1);
        }
    }
    
    @-ms-keyframes shadow {
        0%,
        100% {
            -ms-transform: scale(1, 1);
        }
        50% {
            -ms-transform: scale(1.2, 1);
        }
    }
    
    @-webkit-keyframes shadow {
        0%,
        100% {
            -webkit-transform: scale(1, 1);
        }
        50% {
            -webkit-transform: scale(1.2, 1);
        }
    }
    
    @-moz-keyframes shadow {
        0%,
        100% {
            -moz-transform: scale(1, 1);
        }
        50% {
            -moz-transform: scale(1.2, 1);
        }
    }
   
}

.loading2{
    position:absolute;
    height:100%;
    width:100%;
    z-index:999;
    background-color: white;    
    display: flex;
    align-items: center;
    .lds-hourglass {
        display: inline-block;
        position: relative;
        margin:0 auto;
        width: 64px;
        height: 64px;
        
      }
      .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 26px solid rgb(255, 0, 0);
        border-color: rgb(0, 17, 255) transparent rgb(255, 0, 0) transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @keyframes lds-hourglass {
        0% {
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);
        }
      }
      
}

.loading3{
    position:absolute;
    height:100%;
    width:100%;
    z-index:999;
    background-color: white;    
    display: flex;
    align-items: center;
    .cssload-loader {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
            -o-transform: translate3d(-50%, -50%, 0);
            -ms-transform: translate3d(-50%, -50%, 0);
            -webkit-transform: translate3d(-50%, -50%, 0);
            -moz-transform: translate3d(-50%, -50%, 0);
        perspective: 1200;
            -o-perspective: 1200;
            -ms-perspective: 1200;
            -webkit-perspective: 1200;
            -moz-perspective: 1200;
    }
    
    .cssload-flipper {
        position: relative;
        display: block;
        height: inherit;
        width: inherit;
        animation: cssload-flip 0.9s infinite ease-in-out;
            -o-animation: cssload-flip 0.9s infinite ease-in-out;
            -ms-animation: cssload-flip 0.9s infinite ease-in-out;
            -webkit-animation: cssload-flip 0.9s infinite ease-in-out;
            -moz-animation: cssload-flip 0.9s infinite ease-in-out;
        transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
    }
    
    .cssload-front,
    .cssload-back {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: rgb(255,0,0);
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
    }
    
    .cssload-back {
        background-color: rgb(59,127,245);
        z-index: 800;
        transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
    }
    
    
    
    @keyframes cssload-flip {
        0% {
            transform: perspective(255px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            transform: perspective(255px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            transform: perspective(255px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
    
    @-o-keyframes cssload-flip {
        0% {
            -o-transform: perspective(255px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            -o-transform: perspective(255px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            -o-transform: perspective(255px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
    
    @-ms-keyframes cssload-flip {
        0% {
            -ms-transform: perspective(255px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            -ms-transform: perspective(255px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            -ms-transform: perspective(255px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
    
    @-webkit-keyframes cssload-flip {
        0% {
            -webkit-transform: perspective(255px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            -webkit-transform: perspective(255px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            -webkit-transform: perspective(255px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
    
    @-moz-keyframes cssload-flip {
        0% {
            -moz-transform: perspective(255px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            -moz-transform: perspective(255px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            -moz-transform: perspective(255px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }

}