<div *ngIf='showSplash' class='loading3'> 
  <div class="cssload-box-loading" *ngIf='false'>
  </div>
  <div class="lds-hourglass" *ngIf='false'></div>

  <div class="cssload-loader" *ngIf='true'>
    <div class="cssload-flipper">
      <div class="cssload-front"></div>
      <div class="cssload-back"></div>
    </div>
  </div>
</div>

<ion-menu [content]="content">
  
  <ion-header>
 
      
      

           
       
        <ion-card class="perfil"  >   
          <div class="menu" [(style.background-image)]="background == undefined ? defaultMenuBackground : background" >    
          <div class='menuDivAvatar'>
                <div style='float:right;padding-right:17px;font-size:20px;' >
                    <ion-icon  name="return-left" menuToggle></ion-icon>
                </div>   
            <div  class='avatarImg' >
              <div class="avatar" [(style.background-image)]='photoUrl' >
              
              
              </div>
              <a  class='avatarName'>{{nome}}</a>
            </div>
            
            
            <div class='avatarDesc' >
              <span *ngIf='matricula!=undefined' style='display:block; font-size:11px;'>Matricula: {{matricula}}</span>
              <span style='display:block;font-size:11px;'>Usuario:{{usuario ? usuario : "Sem email cadastrado"}}</span> 
            </div> 
            <ion-icon *ngIf='contas.length>1' (click)='clicked=!clicked;carregado=true;' name="arrow-dropdown-circle" ></ion-icon>
            <div scrollY='true' class='popover' *ngIf='clicked==true'>
                <ion-list (ionChange)='contaChoose($event);clickedTime();'  radio-group class='popoverList'>
                    
                  <ion-item *ngFor='let acc of contas'>
                      <ion-label>{{acc.nome}}</ion-label>
                      <ion-radio [checked]='acc.checked' [value]='acc'></ion-radio>
                  </ion-item>                  
                    
                </ion-list>  
            </div>
           
          </div>
        </div>
          </ion-card>
       
        
      
  </ion-header>

  
  <ion-content >
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages[funcao].pages" (click)="openPagePush(p)">
        {{p.title}}
      </button>
    </ion-list>
    <button (click)='logout()' class='logoutButton'>Sair</button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>